* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#F0F6FF;
  --secondary-color:#0056D2;
}
body {
  font-family: Arial, sans-serif;
  background-color: white;
  line-height: 1.6;
  width: 100%;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px;
  background-color: white;
  
}

nav {
  background-color: black;
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav ul {
  width: 1300px;
  list-style: none;
  display: flex;
  color: white;
  gap: 20px;
  font-family: "source sans pro", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: white;
  transform: translateY(10px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover::after {
  opacity: 1;
}
nav ul li a:focus::after {
  opacity: 1;
}


.nav2{
  background-color: white;
  padding: 0px 20px 0px 20px;
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.cont{
  position: relative;
  width: 1300px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav2 .logo {
  background-color: white;
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav2 .explor button {
  background-color: white;
  color: #5B6790;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
}
.nav2 .search {
  position: relative;
  display: flex;
  border: 1px solid rgba(91, 103, 144, 0.5);
  border-radius: 20px ;
  width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.nav2 .search input {
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  height: 60%;
  color: #5B6790;
}
.nav2 .search .search-icon{
  background-color: var(--secondary-color);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav2 .cont #register {
  position: absolute;
  right: 20px;
}
.nav2 .cont #register button{
  border: none;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
}
.nav2 .cont #register .login a {
  text-decoration: none;
  color: var(--secondary-color);
}
.nav2 .cont #register .login a:hover{
  text-decoration: underline;
}
.nav2 .cont #register .join a{
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  padding: 8px 16px;
  border-radius: 8px;
  margin-left: 10px;
  font-weight: 600;
  transition: 1s;
}
.nav2 .cont #register .join a:hover{
  background-color: #c1d7f1;
}

.plus{
  background-color: var(--primary-color);
  height: 55vh;
  overflow: hidden;
}
.plus .coursera-plus{
  display: flex;
  padding-top: 40px;
  background-color: var(--primary-color);
}
.plus .coursera-plus .logo-plus{
  display: flex;
  flex-direction: column;

}
.plus .coursera-plus .logo-plus img{
  width: 200px;
  object-fit: cover;
  object-position: center;
}
.plus .coursera-plus .logo-plus .achieve{
  font-size: 45px;
  font-weight: 550;
  width: 700px;
  line-height: 1.3;
}
.plus .coursera-plus .logo-plus .sub{
  width: 500px;
  margin-top: 20px;
  line-height: 2.5;
  font-size: 16px;
}

.plus .coursera-plus .logo-plus button a{
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 200px;
}
.plus .coursera-plus .logo-plus button a:hover{
  background-color: #0048B0 ;
}
.underline{
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}
.underline:hover{
  text-decoration: underline;
  color: var(--secondary-color);
}


.universities .companies h2{
  font-size: 30px;
  font-weight: 200;
  margin-top: 20px;
}
.universities .companies .company-logos{
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.universities .companies .company-logos img{
  width: 180px;
}

.invest{
  background-color: var(--primary-color);
  padding: 40px 0;
}
.invest .invest-container{
  background-color: var(--primary-color);
}
.invest .invest-container .careers{
  background-color: var(--primary-color);
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.invest .invest-container .careers .block{
  width: 350px;
}
.invest .invest-container .careers .block p{
  font-size: 14px;
  font-weight: 100;
  
}
.invest .invest-container .careers .block i{
  font-size: 20px;
  padding-bottom: 10px;
}
.invest .invest-container .careers .block:hover i{
  transform: scale(1.3);
}
.start{
  background-color: #ffffff;
  height: 150vh;
}
.start .nav3{
  background-color:#ffffff;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 5;
}
.start .nav3 img{
  position: absolute;
  left: 10%;
}
.start .nav3 button a{
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}
.start .nav3 button a:hover{
  background-color: #0048B0 ;
}
.start .start-container{
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.start .start-container .join h2{
  font-size: 30px;
  margin-bottom: 30px;
}
.start .start-container .join button a{
  text-decoration: none;
  background-color: #ffffff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.start .start-container .join button a:hover{
  background-color: var(--secondary-color);
  color: white;
}
.start .start-container .join-img:hover {
  transform: rotate(5deg);
  transition: 1s;
}

.careers{
  background-color: white;
}
.careers .skills{
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 15px;
}
.careers .skills .text-career{
  width: 20%;
}
.careers .skills .courses .boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.careers .skills .courses .boxes .box{
  background-color: white;
  border-radius: 15px;
}
.careers .skills .courses .boxes .box .couses-img {
  width: 2000px;
}














@media (max-width: 1060px) {
  nav {
    display: none;
  }
  .explor{
    display: none;
  }
  .nav2 .search{
    border: none;
    width: 40px;
  }
  .search input{
    display: none;
  }
  .nav2 .search .search-icon{
    position: static;
    transform: none;
    
  }
  .plus .coursera-plus .logo-plus .achieve{
    width: 100%;
    font-size: 30px;
  }
  .plus .coursera-plus .logo-plus .sub{
    width: 100%;
  }
  .plus .coursera-plus .logo-plus button a{
    width: 100%;
    
  }
  .plus {
    height: auto;
  }
}
@media (max-width: 690px) {
  .nav2{
    padding: 0px;
  }
    .nav2 .search .search-icon{
      display: none;
    }
  .plus .coursera-plus{
    flex-direction: column;
    padding: 10px;
  }
  .plus .coursera-plus .logo-plus .achieve{
    width: 100%;
    font-size: 30px;
  }
  .plus .coursera-plus .logo-plus .sub{
    width: 100%;
  }
  .plus .coursera-plus .logo-plus button a{
    width: 100%;
    
  }
  .plus .coursera-plus .be-hero img{
    width: 100%;
  }
  .invest .invest-container .careers{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .invest .invest-container .careers .block{
    width: 100%;
  }
  .universities .companies .company-logos img{
    width: 150px;
  }

  .start .nav3 img{
    display: none;
  }
  .start .nav3 button a{
    width: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .start .start-container{
    flex-direction: column-reverse;
  }
  .start .start-container .join h2{
    font-size: 25px;
  }
  .start .start-container .join button {
    align-items: center;
    width: 100%;
  }
  .start .start-container .join-img img{
    width: 100%;
    margin-top: 20px;
  }
}
